body{
    background: rgb(204,128,255);
    background: -moz-linear-gradient(90deg, rgba(204,128,255,1) 0%, rgba(254,122,122,1) 50%, rgba(255,204,133,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(204,128,255,1) 0%, rgba(254,122,122,1) 50%, rgba(255,204,133,1) 100%);
    background: linear-gradient(90deg, rgba(204,128,255,1) 0%, rgba(254,122,122,1) 50%, rgba(255,204,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc80ff",endColorstr="#ffcc85",GradientType=1); 
}